@page "/optimization"

<button @onclick="AddActor">Voeg acteur toe</button>

<div style="display: flex;">
	<ul>
		@foreach (var actor in Actors)
		{
			<li>@actor.Name</li>
		}
	</ul>

	<ActorShower Actors="Actors" />

	<ul>
		@foreach (var actor in Actors)
		{
			<IndividualActorShower Actor="actor" />
		}
	</ul>

	<ul>
		@foreach (var actor in Actors)
		{
			@ActorTemplate(actor)
		}
	</ul>
</div>

Id: @Id

@code {
	[Parameter]
	public int Id { get; set; }

	public RenderFragment<ActorModel> ActorTemplate = actor => __builder =>
	{
		<li>actor renderfrag: @actor.Name</li>
	};

	public List<ActorModel> Actors { get; set; } = new List<ActorModel>()
{
		new ActorModel() { Name = "Bruce Willis", Movies = new List<MovieModel>() },
		new ActorModel() { Name = "Arnold Schwarzenegger", Movies = new List<MovieModel>() },
		new ActorModel() { Name = "Emilia", Movies = new List<MovieModel>() }
	};

	public void AddActor()
	{
		Actors.Add(new ActorModel() { Name = "Mila Kunis" });
	}
} 