@typeparam TItem

<input @bind-value="Query" @bind-value:event="oninput" @onkeyup="Autocomplete" @onkeydown="HandleKeyDown">
<ul>
    @if (Suggestions == null)
    {
        <li>Geen items</li>
    }
    else
    {
        @foreach (var suggestion in Suggestions)
        {
            if (ItemTemplate != null)
            {
                @ItemTemplate(suggestion)
            }
            else
            {
                <li>@suggestion.Text</li>
            }
        }
    }
</ul>